# Question 100: (Python)

**Suppose you're given an array of integers. Write code to find the first repeating element in the array.**

For example:

**Input**: array = [10, 2, -2, -20, 10] ;
**Output**: 10

**Input**: array = [9, 4, 20, 20, 10, 5] ;
**Output**: 20

**If there are no duplicates, you can return -1.**

# Question 101: (Statistics)

**Explain what Mean Squared Error (MSE) and Root Mean Squared Error (RMSE) are.**

**What are the similarities between the two? What are the differences? When might you want to use one over the other?**

# Question 102: (Python)

**Given the following text, can you find the most frequent part of speech (POS) used in the text below?**

**To solve this question, we recommend you start with [Natural Language Toolkit (NLTK)](http://www.nltk.org/?source=post_page-----2d30f70af13b----------------------). Within NLTK you will want to look into the pos_tag() function.**

**NLTK is a great tool that allows us to easily analyze text. There are a lot of interesting applications for NLTK, including sentiment analysis (can be applied to social media feeds / classifying reviews for a product) and spam filters (identifying text as spam or !spam).**

In [1]:
#text from Harper Lee, To Kill a Mockingbird
texts ='''Atticus said to Jem one day, “I’d rather you shot at tin cans in the backyard, but I know you’ll go after birds. 
Shoot all the blue jays you want, if you can hit ‘em, but remember it’s a sin to kill a mockingbird.” 
That was the only time I ever heard Atticus say it was a sin to do something, and I asked Miss Maudie about it. 
“Your father’s right,” she said. 
“Mockingbirds don’t do one thing except make music for us to enjoy. 
They don’t eat up people’s gardens, don’t nest in corn cribs, they don’t do one thing but sing their hearts out for us. 
That’s why it’s a sin to kill a mockingbird.'''

# Question 103: (SQL)

**Suppose you work for a retail company that has a database containing two tables, one called 'orders', and one called 'revenue', as shown below:**

Orders:

' '	|order_id	|channel	|date	|month
---|---|---|---|---
0|	1|	Online|	2018-09-01|	September
1|	2|	Online|	2018-09-03|	September
2|	3|	In_store|	2018-10-11|	October
3|	4|	In_store|	2018-08-21|	August
4|	5|	Online|	2018-08-13|	August
5|	6|	Online|	2018-10-29|	October

Revenue:


' '|order_id|	revenue
---|---|---
0|	1|	100
1|	2|	125
2|	3|	200
3|	4|	80
4|	5|	200
5|	6|	100

**Using SQL, write a query to show the total revenue by channel for the months of September and October. Additionally, try to think of the most efficient way to run this query.**

# Question 104: (Python)

**Given an array of integers, print the array in alternating min/max order. The first element should be the first maximum, second element should be the first minimum, third element should be second maximum, etc.**

**For Example:**

**Given the following array:**

arr[] = [10, 2, 11, 3, 7, 4, 1]

**Your function should return:**

11, 1, 10, 2, 7, 3, 4

# Question 105: (Statistics)

**Suppose Candy Company XYZ produces lollipops. The company claims that 30% of the lollipops are cherry, 60% are grape, and 10% are lime.**

**Given a random sampling of 100 lollipops with 50 cherry, 45 grape, and 5 lime, determine whether or not this is consistent with the company's claim. Use a 0.05 level of significance.**

# Question 106: (Python)

**Suppose you are given the following dataframe containing food, weight, and calories. You'll notice the foods have varying weights associated with them:**

l |food|	grams|calories
---|---|---|---
0|	bacon|50|271
1|	strawberries|200|64
2|	banana|	100|89
3|	spinach|200|46
4|	chicken breast|	50|	80
5|	peanuts|100	|567

**Using Python (Pandas), can you sort the dataframe in descending order with the most calorically dense food (normalized for weight) at the top?**

# Question 107: (SQL)

**Suppose you're working with a large conglomerate and are trying to aggregate revenue across all divisions to highlight the overall trend. The table you're querying off of is called allRevenue, sample schema is shown below.**

Table: allRevenue

date|	revenue|	division
---|---|---
2018-01-20|	15000000|	chemicals
2019-02-21|	120000|	agriculture
2019-04-09|	390900|	pharma

**Given the above, can you write a SQL query that calculates 4-quarter rolling average revenue, cut by each quarter? The output query should only have 2 columns: 'quarter' and 'revenue' (where revenue is the trailing 4-quarter average). You can assume you have access to a function similar to [this](https://www.w3schools.com/sql/func_mysql_quarter.asp).**

# Question 108: (Python)

**Given an array of integers, can you write a function that returns "True" if there is a triplet (a, b, c) within the array that satisfies a^2 + b^2 = c^2?**

**For example:**

In [ ]:
Input: arr[] = [3, 1, 4, 6, 5]
Output: True
#There is a Pythagorean triplet (3, 4, 5) that exists in the input array.

Input: arr[] = {10, 4, 6, 12, 5}
Output: False
#There is no Pythagorean triplet that exists in the input array.

# Question 109: (Statistics)

**Suppose you have a standard 52-card deck of cards. In the standard deck, there are exactly 4 Ace cards. Given this information, what's the probability you'll draw two Aces in a row assuming the Ace is put back into the deck after each draw? What's the probability of drawing two Aces in a row if each Ace is removed from the deck after drawing?**

**Note: This is an example of a quick question you might see in a range of interviews, primarily to test your ability to reason through conditional probability on the fly.**

**It would not be uncommon for the assumption around replacement to be withheld, just to see if you ask to clarify that assumption, as it significantly changes the outcome.**

# Question 110: (Python)

**Suppose you're analyzing the utilization of a small parking lot you invested in. Customers enter the automated lot, receive a ticket, and select one of 20 spots at random (e.g. they are not assigned). Upon leaving, customers pay in relation to their time in the lot.**

**You have collected the following [dataset](https://www.google.com/url?q=https://u4221007.ct.sendgrid.net/ls/click?upn%3DqwT-2Bl0U064-2B7oRNpPgUya51JFUDgj241ZqJOHGqS8eD4tjNEUUiE84jSUq3UK-2FXXaPoxCDr5OoIvbE3fNSQEEoHnT-2FkP-2FFMMgePNNM5lx6KCtW6-2BrzWHUxUOJLfuIjDKuMbs_dcIrmF3bfjIC4XJv6wnG8M1SQHV0diX96UqSessIR1VKP1e5z-2BWABKEbouF4Gawn-2FsHsIFHa40SfbJt8e7Q0Gg4mna442IHcKQTsqtWuuruh0Se1RhnbO3AFuhw1vknIxRcbI2PgL0WwSTb479OWBoiqavLE-2Bo4JvCiJZP2FLrUpx0EtjhmsTu94c6-2BOqwbmMFs8Dyz-2BHL7ZtMPge4xYC0H3tTlOaS-2BuhJYLSYwxTV8-3D&source=gmail&ust=1597680068845000&usg=AFQjCNHVr2WuUgX4ZeYaemYK6m0TXIMeuw), which shows spot utilization for a month. Each # in the dataset corresponds to a spot # (1-20) and the # of times it appears in a row corresponds to the frequency of how many customers parked in that spot.**

**Using all of this information, write code to visualize the [Probability Mass Function (PMF)](https://en.wikipedia.org/wiki/Probability_mass_function) of your customers' spot selections. Your resultant chart should show each spot # (1-20) along with the probability of that spot being chosen based on your dataset. You can ignore seasonality and assume this month represents a standard month of parking at your lot.**

# Question 111: (SQL)

**Suppose you have a table called 'vendor_spend' containing vendor spend data, as shown below:**

vendor_spend:


I|vendor_id|	name|	contract_sign_date|	total_spend
---|---|---|---|---
0|	1|	vendor_schmendor|	2018-09-01	|34324
1|	2|	parts_r_us	|2018-09-03	|23455
2|	3|	vendor_king	|2018-10-11	|77654
3|	4|	vendor_diagram|	2018-08-21|	23334
4|	5|	venny	|2018-08-13	|94843
5|	6|	vendtriloquist|	2018-10-29|	23444

**Using SQL, write a query to show the top 50% of vendors as denoted by total spend. You should return both the name and spend for this group.**

# Question 112: (Python)

**Given an array of n distinct elements, can you find all the triplet combinations that sum to zero?**

**For example:**

In [ ]:
Input: [0, -1, 2, -3, 1]
Output: 
0 -1 1
2 -3 1

Input: [1, -2, 1, 0, 5]
Output: 1 -2  1

# Question 113: (Statistics)

Suppose you're working for a social media company that has a feature similar to Facebook's newsfeed. The company has two options for serving ads within their newsfeed:

1. Out of every 25 stories, one will be an ad
2. Every story has a 4% chance of being an ad

For each option, what is the expected number of ads shown in 100 news stories? If we go with the second option, what is the chance a user will be shown only a single ad in 100 stories? What about no ads at all?

# Question 114: (Python)

**Using Monte Carlo methods, simulate future stock price outcomes for Apple (AAPL) using Python. You can read more about Monte Carlo simulation (in a finance context) [here](https://www.investopedia.com/terms/m/montecarlosimulation.asp).**

**Below is code using Python to grab the initial stock price data for Apple, to help get you started:**

In [1]:
# Import required libraries
import math
import matplotlib.pyplot as plt
import numpy as np
from pandas_datareader import data
apple = data.DataReader('AAPL', 'yahoo',start='1/1/2009')
apple.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2009-01-02  13.005714  12.165714  12.268572  12.964286  186503800.0  11.202949
2009-01-05  13.740000  13.244286  13.310000  13.511429  295402100.0  11.675756
2009-01-06  13.881429  13.198571  13.707143  13.288571  322327600.0  11.483178
2009-01-07  13.214286  12.894286  13.115714  13.001429  188262200.0  11.235046
2009-01-08  13.307143  12.862857  12.918571  13.242857  168375200.0  11.443671

# Question 115: (SQL)

**Suppose that each day widgets are produced on 3 assembly lines (A, B, and C) and eventually end up on one line where they are prepared for shipping. Suppose there's a data table called 'prod' that has widget origin (column name: 'origin') (either assembly line A, B, or C) as well as a numeric serial number (column name: serial number) which increases for each widget produced. You can assume this table is wiped clean on a daily basis.**

**Given the above, can you write a SQL query to pull the first 3 widgets produced on each line?**

*Note that here we are only given the schema of the table, but should still be able to construct a complete query.*